@model IEnumerable<Salon.Models.Car>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["add"] != null)
{
    <p class="alert-success">
        @TempData["add"]
    </p>
}

@if (TempData["del"] != null)
{
    <p class="alert-danger">
        @TempData["del"]
    </p>
}


<h1>Katalog</h1>

<p>
    <a asp-action="Create">Dodaj auto</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Podaj markę lub model: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Szukaj" class="btn btn-default" /> |
            <a asp-action="Index">Powrót do listy</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["MarkaSort"]">@Html.DisplayNameFor(model => model.Marka)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ModelSort"]">@Html.DisplayNameFor(model => model.Model)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["KolorSort"]">@Html.DisplayNameFor(model => model.Kolor)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["MocSort"]">@Html.DisplayNameFor(model => model.Moc)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RocznikSort"]">@Html.DisplayNameFor(model => model.Rocznik)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PrzebiegSort"]">@Html.DisplayNameFor(model => model.Przebieg)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSort"]">@Html.DisplayNameFor(model => model.Cena)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Marka)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kolor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Moc) KM
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rocznik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Przebieg) km
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cena) zł
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
